@import '../../vars.scss';

.slider {
  height: 590px;
  overflow: hidden;
  background-color: gray;

  &__item {
    height: 100%;
    display: flex !important;
    align-items: center;
    padding-left: 100px;
    outline: none;
    position: relative;
  }

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    z-index: 1;
  }

  &__info {
    color: white;
    position: relative;
    z-index: 2;
  }

  &__title-info {
    font-size: 16px;
  }

  &__title {
    text-transform: uppercase;
    font-size: 51px;
    margin-top: 15px;
    margin-bottom: 20px;
  }

  &__text {
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  // for Slick
  .slick-list {
    height: 100%;
  }

  .slick-track {
    height: 100%;
  }

  .slick-slide {
    outline: none;

    & > div {
      height: 100%;
    }
  }

  .slick-dots {
    bottom: 20px;
    pointer-events: none;

    li {
      pointer-events: all;

      &.slick-active {

        button {

          &::before {
            background-color: $primary-color;
          }
        }
      }

      button {

        &::before {
          content: '';
          width: 16px;
          height: 16px;
          background-color: #232323;
          border-radius: 16px;
          opacity: 1;
        }
      }
    }
  }
}
